<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="Map Intent TEST RECEIVER" android:allowBackup="false"
        android:testOnly="true" android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <provider android:name=".StateProvider" android:authorities="dev.localphone.testmap.state" android:exported="true" />
        <activity android:name=".ReceiverActivity" android:exported="true" android:launchMode="singleTop">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="nmap" android:host="navigation" />
                <data android:scheme="nmap" android:host="map" />
                <data android:scheme="nmap" android:host="search" />
            </intent-filter>
        </activity>
    </application>
</manifest>
