<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <queries>
        <intent><action android:name="android.speech.RecognitionService" /></intent>
        <package android:name="com.nhn.android.nmap" />
        <intent><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent>
        <intent><action android:name="android.intent.action.SET_ALARM" /></intent>
        <intent><action android:name="android.intent.action.SET_TIMER" /></intent>
        <intent><action android:name="android.settings.SETTINGS" /></intent>
        <intent><action android:name="android.settings.WIFI_SETTINGS" /></intent>
        <intent><action android:name="android.settings.BLUETOOTH_SETTINGS" /></intent>
        <intent><action android:name="android.settings.SOUND_SETTINGS" /></intent>
        <intent><action android:name="android.settings.DISPLAY_SETTINGS" /></intent>
        <intent><action android:name="android.intent.action.INSTALL_PACKAGE" /><data android:mimeType="application/vnd.android.package-archive" /></intent>
    </queries>
    <application android:name=".AgentApplication" android:label="Local Phone Agent"
        android:theme="@style/AgentTheme" android:allowBackup="false"
        android:fullBackupContent="false" android:dataExtractionRules="@xml/data_extraction_rules"
        android:usesCleartextTraffic="false" android:icon="@drawable/ic_agent">
        <provider android:name=".updates.UpdateFileProvider" android:authorities="${applicationId}.updates"
            android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/update_paths" />
        </provider>
        <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".VoiceInvocationActivity" android:exported="true"
            android:theme="@style/VoiceInvocationTheme" android:launchMode="singleTask"
            android:taskAffinity="dev.localphone.agent.voice" android:excludeFromRecents="true"
            android:noHistory="false" android:configChanges="orientation|screenSize|smallestScreenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".VoiceOnboardingActivity" android:exported="false" />
        <activity android:name=".InvocationDebugActivity" android:exported="false" />
        <activity android:name=".SpeechEvaluationActivity" android:exported="false" />
    </application>
</manifest>
